/* BASE STYLES */
body {
   position: relative;
   background: var(--background-white);
   font-family: 'Rubik-Regular';

   -ms-overflow-style: none;  /* Internet Explorer 10+ */
   scrollbar-width: none;  /* Firefox */
   &::-webkit-scrollbar {
      display: none;
   }
}

#app {
   position: absolute;
   height: 100vh;
   width: 100vw;
   box-sizing: content-box;
}

h1,h2,h3,h4 {
   font-weight: normal;
}

h1,h2 {
   font-size: 1.2em;
}
