/* BASE STYLES */
body {
   background: var(--background-white);
   font-family: 'Rubik-Regular';
   overflow-y: overlay;
   overflow: hidden;
}

#app {
   overflow: scroll;
   overflow-y: overlay;
   z-index: 2;
   height: 100vh;
}

h1,h2,h3,h4 {
   font-weight: normal;
}

h1,h2 {
   font-size: 1.2em;
}
