:root {
   /* COLORS */
   --primary: #1976d2;
   --secondary: #26a69a;

   --dark: #1d1d1d;
   --white: #fafafa;
   --background-white: #f1f1f1;

   --success: #21ba45;
   --error: #c10015;
   --info: #31ccec;
   --warning: #f2c037;
   --submit: #F5A623;

   --blue1: #3C98CC;
   --blue2: rgba(60, 152, 204, 0.8);
   --blue3: #387ea6f6;
   --blue7: #1e88e5;

   --green4: #81c784;
   --green6: #4caf50;
}

/* BREAKPOINTS */
$xs: 600px;
$sm: 1024px;
$md: 1440px;
$lg: 1920px;
